<section class="about-section container">
  <div class="about-global-container">
    <div class="about-container">
      <div class="title-svg-container">
        <div class="title-container">
          <h1 class="about-title-main" id="about">ABOUT</h1>
          <h2 class="about-title-second">PROJECT</h2>
        </div>
        <svg class="planet_svg">
          <use href="../images/symbol-defs.svg#icon-Planet"></use>
        </svg>
        <svg class="arrow_svg">
          <use href="../images/symbol-defs.svg#icon-Arrow"></use>
        </svg>
      </div>
      <ul class="about-list">
        <li class="about-list-item">
          <p class="about-text">
            Our talented team of designers and UX/UI experts is passionate about
            crafting visually appealing websites that leave a lasting
            impression.
          </p>
        </li>
        <li class="about-list-item">
          <p class="about-text">
            We are committed to delivering high-quality websites that not only
            impress your visitors but also drive business growth.
          </p>
          <span class="sircle6"></span>
        </li>
        <li class="about-list-item">
          <p class="about-text">
            Let us help you create a visually stunning and user-friendly website
            that sets you apart from the competition.
          </p>
        </li>
      </ul>
      <div class="about-down-container">
        <a href="#contact-us" class="about-btn">Contact us</a>
        <svg class="btn-circle">
          <use href="../images/symbol-defs.svg#icon-Big-Circle"></use>
        </svg>
      </div>
    </div>
    <div class="images-section">
      <img
        src="../images/laptop.png"
        alt="laptop"
        class="preview1 scroll-check"
      />
      <img
        src="../images/tablet.png"
        alt="tablet"
        class="preview2 scroll-check"
      />
      <img
        src="../images/phone.png"
        alt="mobile"
        class="preview3 scroll-check"
      />
    </div>
  </div>
  <span class="sircle7"></span>
</section>
