<section class="about-section container">
  <div class="about-global-container">
    <div class="about-container">
      <h1 class="about-title-main">ABOUT</h1>
      <h2 class="about-title-second">PROJECT</h2>
      <ul class="about-list">
        <li class="about-list-item">
          <p class="about-text">
            Our talented team of designers and UX/UI experts is passionate about
            crafting visually appealing websites that leave a lasting
            impression.
          </p>
        </li>
        <li class="about-list-item">
          <p class="about-text">
            We are committed to delivering high-quality websites that not only
            impress your visitors but also drive business growth.
          </p>
          <span class="sircle6"></span>
        </li>
        <li class="about-list-item">
          <p class="about-text">
            Let us help you create a visually stunning and user-friendly website
            that sets you apart from the competition.
          </p>
        </li>
      </ul>
      <button type="button" class="about-btn">Contact us</button>
    </div>
    <div class="images-section">
      <img src="" alt="laptop" />
      <img src="" alt="tablet" />
      <img src="" alt="mobile" />
    </div>
  </div>
  <span class="sircle7"></span>
</section>
