<section class="section">
  <svg class="icon-mobile-stars">
    <use href="/images/symbol-defs.svg#icon-mobile-stars
"></use>
  </svg>
  <svg class="contact-us-stars-tablet">
    <use href="/images/symbol-defs.svg#icon-tablet-stars"></use>
  </svg>
  <svg class="contact-us-stars">
    <use href="/images/symbol-defs.svg#icon-Stars"></use>
  </svg>
  <div class="contact-us">
    <svg class="icon-Moon">
      <use href="/images/symbol-defs.svg#icon-moon-g"></use>
    </svg>
    <span class="b2"></span>
    <h2 class="contact-title" id="contact-us">Get in touch with us!</h2>

    <form action="../index.php" method="POST" class="contact-form">
      <!-- NAME -->
      <!-- <input class="input" type="text" id="fname" name="firstname" placeholder="Name" /> -->
      <input class="input" type="text" id="fname" name="firstname" pattern="[A-Za-zА-Яа-яЁё]{3,}" placeholder="Name"
        required />
      <p class="name-err">*Enter a minimum of 3 characters.</p>
      <!-- PHONE -->
      <input class="input" type="text" id="phone" name="phone" placeholder="Phone" />
      <p class="phone-err">
        *Enter the phone number in the format 07777777777.
      </p>
      <input class="input" type="email" id="email" name="email" placeholder="E-mail" />
      <!-- COMMENT -->
      <textarea class="comment" id="subject" name="subject" placeholder="Comment" style="height: 200px"></textarea>
      <p class="comment-err">*Enter a minimum of 20 characters.</p>
      <button class="sub-btn js-open-modal" type="submit" data-modal="1" disabled aria-label="push-your-feedback">
        Contact us
      </button>
      <!-- <input type="hidden" name="_cc" value="technotrashinfo@gmail.com" /> -->
      <p class="btn-err">Please fill in all fields.</p>
    </form>
  </div>
</section>