<section class="section">
    <div class="contact-us">
        <span class="b2"></span>
        <h2 class="contact-title">Get in touch<br> with us!</h2>

        <form class="contact-form" action="">
            <!-- NAME -->
            <input class="input" type="text" id="fname" name="firstname" placeholder="Name">
            <!-- PHONE -->
            <input class="input" type="text" id="phone" name="phone" placeholder="Phone">
            <input class="input" type="text" id="email" name="email" placeholder="E-mail">
            <!-- COMMENT -->
            <textarea class="comment" id="subject" name="subject" placeholder="Comment" style="height:200px"></textarea>
            <button class="sub-btn" type="submit">Contact us</button>
        </form>
    </div>
</section>