<header class="header">
  <div class="header-container container">
    <nav class="nav-container">
      <div class="menu-container">
        <a href="#" alt="'logo">LOGO</a>
      </div>
      <ul class="nav-list">
        <li class="nav-item"><a href="">About</a></li>
        <li class="nav-item"><a href="">Services</a></li>
        <li class="nav-item"><a href="">Cases</a></li>
      </ul>
    </nav>
    <button type="button" class="mobile-menu-button">
      <svg width="41" height="41">
        <use
          href="../images/symbol-defs.svg#icon-textalignjustifycenter"
          class="mobile-menu-svg"
        ></use>
      </svg>
    </button>
    <button type="button" class="contact-btn">Contact us</button>
  </div>
</header>
