<svg widt="295" height="2579" class="bcg-svg1">
  <use href="/images/symbol-defs.svg#icon-Stars_background"></use>
</svg>
<svg width="702" height="2988" class="bcg-svg2">
  <use href="/images/symbol-defs.svg#icon-Stars_and_planet_background"></use>
</svg>
<svg width="1244" height="3183" class="bcg-svg3">
  <use href="/images/symbol-defs.svg#icon-Stars_and_planet_background2"></use>
</svg>
<header class="header">
  <div class="header-container container">
    <nav class="nav-container">
      <div class="menu-container">
        <a href="#" alt="'logo">
          <img src="./images/bond-logo.png" alt="logo" class="logo-img" />
        </a>
      </div>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="#cases">Cases</a></li>
      </ul>
    </nav>
    <button
      type="button"
      class="mobile-menu-button js-open-menu"
      aria-label="mobile-menu-open"
    >
      <svg width="41" height="41">
        <use
          href="/images/symbol-defs.svg#icon-textalignjustifycenter"
          class="mobile-menu-svg"
        ></use>
      </svg>
    </button>
    <a href="#contact-us" class="contact-btn">Contact us</a>
  </div>
</header>
