<section class="hero-section container">
  <h1 class="hero-title">BOND WEB-STUDIO</h1>
  <ul class="hero-list">
    <li class="hero-item">
      <p class="hero-text">Your key to business growth</p>
    </li>
    <li class="hero-item">
      <p class="hero-subtitle">
        We don't just create websites - we accelerate success!
      </p>
    </li>
  </ul>
  <div class="hero-buttons-container">
    <button type="button" class="order-btn">Order now</button>
    <a href="#cases" class="hero-link">Look more</a>
    <svg class="arrow-svg">
      <use href="../images/symbol-defs.svg#icon-Down-arrow1"></use>
    </svg>
  </div>
</section>

<span class="sircle1"></span>
<span class="sircle2"></span>
<span class="sircle3"></span>
<span class="sircle4"></span>
<span class="sircle5"></span>
