<div class="menu js-menu-container" id="mobile-menu">
  <button class="menu__button js-close-menu" aria-label="mobile-menu-close">
    <svg class="menu__icon">
      <use href="/images/symbol-defs.svg#icon-close"></use>
    </svg>
  </button>

  <nav class="menu__nav">
    <ul class="menu__nav-list list">
      <li class="menu__nav-item">
        <a href="#about" class="menu__nav-link js-close-menu link">About us</a>
      </li>
      <li class="menu__nav-item">
        <a href="#services" class="menu__nav-link js-close-menu link"
          >Services</a
        >
      </li>
      <li class="menu__nav-item">
        <a href="#cases" class="menu__nav-link js-close-menu link">Cases</a>
      </li>
    </ul>
  </nav>
</div>
