<section class="section our-cases">
  <h2 class="main-title our-cases-title" id="cases">Our cases</h2>
  <div class="container swiper">
    <ul class="our-cases-list swiper-wrapper"></ul>

    <div class="button-box">
      <div class="swiper-button-prev swiper-btn">
        <svg class="prev-icon">
          <use href="../images/symbol-defs.svg#arrow-prev"></use>
        </svg>
      </div>
      <div class="swiper-button-next swiper-btn">
        <svg class="next-icon">
          <use href="../images/symbol-defs.svg#arrow-next"></use>
        </svg>
      </div>
    </div>
  </div>
  <div class="swiper-pagination"></div>
</section>