<section class="section">
    <h2 class="main-title our-cases-title">Our cases</h2>
    <div class="container">
        <ul>
            <li class="our-cases-card">
                <img class="cases-big-img" src="" alt="">
                <img class="cases-small-img" src="" alt="">
                <h3 class="cases-card-title">Hotel-restaraunt</h3>
                <p class="cases-card-text">Lorem ipsum dolor sit amet consectetur. At enim venenatis egestas feugiat
                    molestie. Neque varius in
                    duis condimentum
                    semper mi suspendisse. Massa placerat nec non in tristique vitae ipsum sed sapien.</p>
            </li>
        </ul>
    </div>
</section>