<section class="section star-cut">
  <div class="container">
    <span class="b3"></span>
    <h2 class="main-title what-we-do-title" id="services">
      What we do<span class="b1"></span>
    </h2>
    <div>
      <ul class="what-we-do-galary">
        <li class="">
          <div class="purple what-we-do-card">
            <h3 class="card-titte">Redesign</h3>
            <p class="card-text main-text">
              Our design studio offers mobile design services to help you create
              a unique and attractive visual identity for your mobile app or
              website
            </p>
            <a rel="canonical" class="card-button main-button" href="#contact-us">Order now</a>
          </div>
        </li>
        <li class="central-card">
          <div class="green what-we-do-card">
            <h3 class="card-titte">Website design</h3>
            <p class="card-text main-text">
              We focus on developing efficient and intuitive interfaces that
              ensure user-friendliness and a rich user experience
            </p>
            <a rel="canonical" class="card-button main-button" href="#contact-us">Order now</a>
          </div>
        </li>
        <li class="">
          <div class="orange what-we-do-card">
            <h3 class="card-titte">Mobile design</h3>
            <p class="card-text main-text">
              Our design studio offers services in mobile app design, aiming to
              create unique and captivating visual experiences for your mobile
              applications
            </p>
            <a rel="canonical" class="card-button main-button" href="#contact-us">Order now</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>