.about-section {
  padding-top: 298px;
  position: relative;
  overflow: inherit;
}

.about-global-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .about-global-container {
    flex-direction: row-reverse;
    gap: 73px;
  }
}

.about-title-main {
  color: var(--main-white-color);
  font-size: 31px;
  line-height: 1.22;
}

@media screen and (min-width: 768px) {
  .about-title-main {
    font-size: 64px;
    line-height: 1.21;
  }
}

.about-title-second {
  font-size: 31px;
  line-height: 1.22;
  background: linear-gradient(
    90deg,
    #ff8a00 1.43%,
    #ff78d1 33.94%,
    #c1fefe 57.87%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  .about-title-second {
    font-size: 64px;
    line-height: 1.21;
  }
}

.about-list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media screen and (min-width: 768px) {
  .about-list {
    margin-top: 40px;
    gap: 20px;
  }
}

.about-list-item {
  width: 243px;
}

@media screen and (min-width: 768px) {
  .about-list-item {
    width: 402px;
  }
}

.about-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.25;
}

.sircle6 {
  width: 114px;
  height: 114px;
  border-radius: 114px;
  background: #ff45c0;
  filter: blur(60.5px);
  position: absolute;
  z-index: -1;
  top: 900px;
  left: 65%;
}

@media screen and (min-width: 768px) {
  .sircle6 {
    width: 164px;
    height: 164px;
    border-radius: 164px;
    background: rgba(69, 255, 188, 0.5);
    filter: blur(87.5px);
    top: 1120px;
    left: 20%;
  }
}

@media screen and (min-width: 1280px) {
  .sircle6 {
    width: 151px;
    height: 151px;
    border-radius: 151px;
    background: rgba(69, 255, 188, 0.5);
    filter: blur(87.5px);
    top: 200px;
    left: 40%;
  }
}

@media screen and (min-width: 768px) {
  .about-text {
    font-size: 20px;
  }
}

.about-btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .about-btn {
    width: 130px;
    color: var(--main-black-color);
    margin-top: 64px;
    display: block;
    border: none;
    border-radius: 4px;
    padding: 20px 45px;
    background-color: var(--main-white-color);
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
  }
}

.sircle7 {
  display: none;
}

@media screen and (min-width: 1280px) {
  .sircle7 {
    display: block;
    position: absolute;
    z-index: -1;
    width: 252px;
    height: 252px;
    border-radius: 252px;
    background: rgba(255, 69, 69, 0.7);
    filter: blur(87.5px);
    left: -20%;
  }
}

.title-svg-container {
  display: flex;
  gap: 70px;
}

@media screen and (min-width: 768px) {
  .title-svg-container {
    gap: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .title-svg-container {
    gap: 25px;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
}

.planet_svg {
  width: 84px;
  height: 83px;
}

@media screen and (min-width: 768px) {
  .planet_svg {
    display: none;
  }
}

.arrow_svg {
  display: none;
}

@media screen and (min-width: 768px) {
  .arrow_svg {
    display: block;
    width: 90px;
    height: 129px;
  }
}

.about-down-container {
  position: relative;
}

.btn-circle {
  display: none;
}

@media screen and (min-width: 768px) {
  .btn-circle {
    display: block;
    width: 313px;
    height: 124px;
    position: absolute;
    z-index: -1;
    top: -30px;
    left: -55px;
    pointer-events: none;
  }
}

.images-section {
  display: none;
}

@media screen and (min-width: 768px) {
  .images-section {
    display: block;
    position: relative;
  }
}

.preview1 {
  display: none;
}

@media screen and (min-width: 1280px) {
  .preview1 {
    display: block;
    opacity: 0;
    transition: opacity 1s ease;
  }
}

.preview1.scroll-check {
  opacity: 1;
}

.preview2 {
  position: absolute;
  display: block;
  width: 313px;
  height: 374px;
  left: -72px;
  top: -172px;
  opacity: 0;
  transition: opacity 1.5s ease;
}

.preview2.scroll-check {
  opacity: 1;
}

@media screen and (min-width: 1280px) {
  .preview2 {
    width: 377px;
    height: 420px;
    left: -18px;
    top: 148px;
  }
}

.preview3 {
  width: 121px;
  height: 222px;
  display: block;
  position: absolute;
  top: -5px;
  left: -7px;
  opacity: 0;
  transition: opacity 2s ease;
}

.preview3.scroll-check {
  opacity: 1;
}

@media screen and (min-width: 1280px) {
  .preview3 {
    width: 145px;
    height: 250px;
    top: 313px;
    left: 247px;
  }
}
