body {
    font-family: 'Geologica', sans-serif;
    background: linear-gradient(90.86deg, #01142D 0.62%, #17131A 99.18%);
    color: #FFFFFF;
};

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #EBEBEB;
};

button {
    background-color: var(main-white-color);
    color: var(main-black-color);
};

.main-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.25;
};

.main-title {
    font-size: 31px;
    line-height: 1.22580645;
};

.title {
    font-family: 'Montserrat';
};

.swipe-it {
    font-family: 'Indie Flower';
    font-size: 20px;
    line-height: 1.45;
};

.container {
    max-width: 280px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 688px) {
    .container {
        max-width: 768px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (min-width: 1160px) {
    .container {
        max-width: 1160px;
        padding-left: 60px;
        padding-right: 60px;
    }
}

.section {
    margin-top: 40px;
}

@media screen and (min-width: 688px) {
    .section{
        margin-top: 64px;
    }
}

@media screen and (min-width:1160px) {
    .section {
        margin-top: 144px;
    }
}