.header {
  margin-top: 32px;
}

.header-container {
  display: flex;
  justify-content: center;
  gap: 144px;
}

@media screen and (min-width: 768px) {
  .header-container {
    gap: 0;
    justify-content: space-between;
  }
}

.nav-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .nav-container {
    gap: 420px;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 1280px) {
  .nav-list {
    display: flex;
    gap: 32px;
  }
}

.nav-item {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.25;
}

.mobile-menu-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu-svg {
  stroke: var(--main-white-color);
}

.contact-btn {
  display: none;
}

@media screen and (min-width: 1280px) {
  .contact-btn {
    display: block;
    border: none;
    border-radius: 4px;
    color: var(--main-black-color);
    font-size: 24px;
    line-height: 1.25;
    padding: 20px 45px;
    background-color: var(--main-white-color);
  }
}

.bcg-svg1 {
  position: absolute;
  z-index: -1;
  top: -8%;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (min-width: 768px) {
  .bcg-svg1 {
    display: none;
  }
}

.bcg-svg2 {
  display: none;
}

@media screen and (min-width: 768px) {
  .bcg-svg2 {
    display: unset;
    position: absolute;
    z-index: -1;
    top: 18px;
    left: 50%;
    transform: translate(-50%);
  }
}

@media screen and (min-width: 1280px) {
  .bcg-svg2 {
    display: none;
  }
}

.bcg-svg3 {
  display: none;
}

@media screen and (min-width: 1280px) {
  .bcg-svg3 {
    display: block;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translate(-50%);
    top: 0px;
  }
}
