.header {
  margin-top: 32px;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 144px;
}

@media screen and (min-width: 768px) {
  .header-container {
    gap: 0;
    justify-content: space-between;
  }
}

.logo-img {
  width: 50px;
  height: 75px;
}

@media screen and (min-width: 1280px) {
  .logo-img {
    width: 80px;
    height: 115px;
  }
}

.nav-container {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .nav-container {
    gap: 340px;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 1280px) {
  .nav-list {
    display: flex;
    gap: 32px;
  }
}

.nav-item {
  font-weight: 300;
  font-size: 20px;
  line-height: 1.25;
}

.mobile-menu-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

@media screen and (min-width: 1280px) {
  .mobile-menu-button {
    display: none;
  }
}

/* .nav-link {
  transition: background 0.25s cubic-bezier(0.53, 0.36, 0.67, 1.07);
}

.nav-link:hover,
.nav-link:focus {
  background: linear-gradient(to right, #FF8A00, #FF78D1, #C1FEFE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

.nav-link {
  position: relative;
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  transition: text-shadow 0.4s cubic-bezier(0.53, 0.36, 0.67, 1.07);
}

/* .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 5px;
  background: linear-gradient(to right, #FF8A00, #FF78D1, #C1FEFE);
  opacity: 0;
  transition: opacity 0.25s cubic-bezier(0.53, 0.36, 0.67, 1.07);
}
} */

.nav-link:hover,
.nav-link:focus {
  text-shadow: 0 0 10px #ffffff, 2px 2px 3px rgba(206, 206, 206, 0.62);
}

.mobile-menu-svg {
  stroke: var(--main-white-color);
}

.contact-btn {
  display: none;
}

@media screen and (min-width: 1280px) {
  .contact-btn {
    display: block;
    border: none;
    border-radius: 4px;
    color: var(--main-black-color);
    font-size: 24px;
    line-height: 1.25;
    padding: 20px 45px;
    background-color: var(--main-white-color);
    transition: color 0.4s cubic-bezier(0.53, 0.36, 0.67, 1.07),
      background-color 0.4s cubic-bezier(0.53, 0.36, 0.67, 1.07);
  }
}

.contact-btn:hover,
.contact-btn:focus {
  color: var(--main-white-color);
  background-color: var(--main-black-color);
}

.bcg-svg1 {
  position: absolute;
  z-index: -1;
  top: -55px;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (min-width: 768px) {
  .bcg-svg1 {
    display: none;
  }
}

.bcg-svg2 {
  display: none;
}

@media screen and (min-width: 768px) {
  .bcg-svg2 {
    display: unset;
    position: absolute;
    z-index: -1;
    top: 18px;
    left: 50%;
    transform: translate(-50%);
  }
}

@media screen and (min-width: 1280px) {
  .bcg-svg2 {
    display: none;
  }
}

.bcg-svg3 {
  display: none;
}

@media screen and (min-width: 1280px) {
  .bcg-svg3 {
    display: block;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translate(-50%);
    top: 60px;
  }
}
