.hero-section {
  padding-top: 131px;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 104px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 154px;
  }
}

.hero-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 0.91;
  background: linear-gradient(
    90deg,
    #ff8a00 1.43%,
    #ff78d1 33.94%,
    #c1fefe 57.87%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-weight: 700;
    font-size: 88px;
    line-height: 0.84;
  }
}

.hero-list {
  display: none;
}

@media screen and (min-width: 1280px) {
  .hero-list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

.hero-item {
  display: none;
}

@media screen and (min-width: 1280px) {
  .hero-item {
    display: block;
  }
}

.hero-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.22;
}

.hero-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 1.25;
}

.order-btn {
  border: none;
  border-radius: 4px;
  padding: 15px 35px;
  color: var(--main-black-color);
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  font-family: 'Geologica', sans-serif;
  background-color: var(--main-white-color);
}

@media screen and (min-width: 768px) {
  .order-btn {
    font-size: 24px;
    padding: 20px 45px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .order-btn {
    display: none;
  }
}

.hero-buttons-container {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .hero-buttons-container {
    margin-top: 85px;
    gap: 36px;
  }
}

.hero-link {
  font-size: 18px;
  line-height: 1.22;
  color: #fdfff7;
}

@media screen and (min-width: 768px) {
  .hero-link {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .hero-link {
    font-size: 36px;
    line-height: 1.22;
  }
}
