.hero-section {
  padding-top: 131px;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 104px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 154px;
  }
}

.hero-title {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 0.91;
  background: linear-gradient(
    90deg,
    #ff8a00 1.43%,
    #ff78d1 33.94%,
    #c1fefe 57.87%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-weight: 700;
    font-size: 88px;
    line-height: 0.84;
  }
}

.hero-list {
  display: none;
}

@media screen and (min-width: 1280px) {
  .hero-list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

.hero-item {
  display: none;
}

@media screen and (min-width: 1280px) {
  .hero-item {
    display: block;
  }
}

.hero-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.22;
}

.hero-subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  line-height: 1.25;
}

.order-btn {
  border: none;
  border-radius: 4px;
  padding: 15px 35px;
  color: var(--main-black-color);
  font-size: 18px;
  line-height: 1.22;
  font-weight: 500;
  font-family: 'Geologica', sans-serif;
  background-color: var(--main-white-color);
}

@media screen and (min-width: 768px) {
  .order-btn {
    font-size: 24px;
    padding: 20px 45px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .order-btn {
    display: none;
  }
}

.hero-buttons-container {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .hero-buttons-container {
    margin-top: 85px;
    gap: 36px;
  }
}

.hero-link {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-size: 18px;
  line-height: 1.22;
  color: #fdfff7;
  transition: text-shadow 0.4s cubic-bezier(0.53, 0.36, 0.67, 1.07),
    drop-shadow 0.4s cubic-bezier(0.53, 0.36, 0.67, 1.07);
}

.hero-link:hover,
.hero-link:focus {
  text-shadow: 2px 2px 3px rgba(206, 206, 206, 0.62);
  filter: drop-shadow(0 0 10px #ffffff);
}

@media screen and (min-width: 768px) {
  .hero-link {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1280px) {
  .hero-link {
    gap: 15px;
    font-size: 36px;
    line-height: 1.22;
  }
}

.sircle1 {
  width: 155px;
  height: 155px;
  border-radius: 155px;
  background: rgba(240, 69, 255, 0.7);
  filter: blur(75.5px);
  position: absolute;
  z-index: -1;
  top: 93px;
}

@media screen and (min-width: 768px) {
  .sircle1 {
    width: 166px;
    height: 166px;
    border-radius: 166px;
    filter: blur(90.5px);
    top: 37px;
    left: 1px;
  }
}

@media screen and (min-width: 1280px) {
  .sircle1 {
    width: 294px;
    height: 294px;
    border-radius: 294px;
    top: 26px;
    left: -143px;
  }
}

@media screen and (min-width: 1280px) {
  .sircle1 {
    display: none;
  }
}

.sircle2 {
  width: 114px;
  height: 114px;
  border-radius: 114px;
  background: #f0ff45;
  filter: blur(60.5px);
  position: absolute;
  z-index: -1;
  top: 394px;
  left: 206px;
}

@media screen and (min-width: 768px) {
  .sircle2 {
    width: 246px;
    height: 246px;
    border-radius: 246px;
    filter: blur(90.5px);
    top: 259px;
    left: 522px;
  }
}

@media screen and (min-width: 1280px) {
  .sircle2 {
    background: rgba(69, 255, 144, 0.7);
    top: 23px;
    left: 80%;
  }
}

.sircle3 {
  width: 162px;
  height: 162px;
  border-radius: 162px;
  background: rgba(255, 69, 69, 0.7);
  filter: blur(87.5px);
  position: absolute;
  z-index: -1;
  top: 489px;
  left: -21px;
}

@media screen and (min-width: 768px) {
  .sircle3 {
    top: 737px;
    left: -13px;
  }
}

@media screen and (min-width: 1280px) {
  .sircle3 {
    width: 169px;
    height: 169px;
    background: rgba(196, 255, 69, 0.7);
    border-radius: 169px;
    filter: blur(90.5px);
    top: 386px;
    left: 349px;
  }
}

.sircle4 {
  display: none;
}

@media screen and (min-width: 1280px) {
  .sircle4 {
    display: block;
    width: 252px;
    height: 252px;
    border-radius: 252px;
    background: rgba(255, 192, 69, 0.5);
    filter: blur(87.5px);
    position: absolute;
    top: 726px;
    left: 1px;
  }
}

.sircle5 {
  display: none;
}

@media screen and (min-width: 1280px) {
  .sircle5 {
    display: block;
    width: 252px;
    height: 252px;
    border-radius: 252px;
    background: rgba(255, 69, 69, 0.7);
    filter: blur(87.5px);
    position: absolute;
    z-index: -1;
    left: 80%;
    top: 670px;
  }
}

.arrow-svg {
  width: 22px;
  height: 48px;
}

@media screen and (min-width: 768px) {
  .arrow-svg {
    width: 37px;
    height: 88px;
  }
}

@media screen and (min-width: 1280px) {
  .arrow-svg {
    width: 38px;
    height: 82px;
  }
}
